<% include ../partials/header %>

<div class="container">
  <header class="jumbotron">
    <h1>Welcome to the KodeCamp!</h1>
    <p>View our hand-picked campgrounds from Nepal</p>
  
    <a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new campings</a>
    <div class="pt-3">
      <form action="/campgrounds" method="GET" class="form-inline">
        <div class="form-group">
          <input type="text" name="search" placeholder="Campground Search..." class="form-control" />
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </header>

  <div class="row text-center">
    <% campgrounds.forEach(function(campground) { %>
          <div class="col-md-4 col-sm-6">
            <div class="img-thumbnail mb-4 p-0">
              <img src="<%= campground.image %>" style="width:100%;">
              <h4><%= campground.name %></h4>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View More</a>
            </div>
          </div>
          
    
    <% }); %>
  </div>
</div>

<% include ../partials/footer %>
